.about {
  letter-spacing: 0.055em;

  background-color: $color-gray-light;

  @include lg-min {
    padding-top: 100px;
    padding-bottom: 100px;
  }
  @include lg-max {
    padding-top: 80px;
    padding-bottom: 80px;
  }
  @include md-max {
    padding-top: 60px;
    padding-bottom: 60px;
  }

  h2 {
    margin-top: 0;
  }

  &__container {
    display: grid;

    max-width: 1340px;
    margin: auto;
    padding-right: 20px;
    padding-left: 20px;

    @include lg-min {
      gap: 100px;
      grid-template-columns: 1fr 271px;
    }
    @include lg-max {
      gap: 40px;
      grid-template-columns: 1fr 271px;
    }
    @include md-sm {
      gap: 20px;
      grid-template-columns: 1fr 236px;
    }
    @include sm-max {
      gap: 20px;
      grid-template-columns: 1fr;
    }
  }

  &__image {
    display: grid;
    align-content: center;

    justify-items: center;

    img {
      max-width: 100%;
      max-height: 480px;
    }
  }
  &__content p {
    @include lg-min {
      font-size: 1.125rem;
    }
  }

  &__content p:first-of-type {
    position: relative;

    margin-top: -5px;
  }

  &__content p:first-of-type::after {
    position: absolute;
    top: 0;

    width: 2px;
    height: 200px;

    content: "";

    background-color: rgba(99, 117, 136, 0.1);

    @include lg-min {
      right: -50px;
    }
    @include lg-max {
      right: -20px;
    }
    @include md-sm {
      right: -10px;
    }
    @include sm-max {
      display: none;
    }
  }

  &__content p:last-of-type {
    margin: 0;
  }
}
