@use "../../presets" as *;
@use "../../mixins" as *;

.header-menu {
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;

  width: 100%;

  @include md {
    background-color: rgba(68, 89, 110, 0.25);
    box-shadow: -3px 3px $gap -10px black;
  }

  &__container {
    display: grid;

    max-width: 1340px;
    margin: auto;
    padding-right: $gap;
    padding-left: $gap;

    grid-template-columns: auto 1fr;
  }
}
